{% load static %}
<html>
    <head>
        <link rel="stylesheet" href="{% static 'users/style.css' %}">
        <link rel="stylesheet" href="{% static 'users/styles.css' %}">
    
    </head>
    <body>
        <nav class="shadow-lg">
            <div class="px-4 mx-auto">
                <div class="flex justify-between py-2">
                    <!--website logo--> 
                    <div>
                     <a class="flex" href="">
                         <img class="h-8 w-8 mr-2" src="{% static 'users/images/logo.png' %}" alt="">
                         <span class="font-semibold text-lg text-gray-500">Demo App</span>
                     </a>
                    </div>
     
                    <!--website items-->
                    <div class="space-x-1">
                    {% comment %} request object is checked if it is authenticated {% endcomment %}
                     {% if request.user.is_authenticated %}
                    {% comment %} logout comes from url pattern {% endcomment %}
                     <a class="py-4 px-2 text-gray-500 font-semibold" href="{% url 'logout' %}">Logout</a>
                     {% else %}
                     <a class="py-4 px-2 text-gray-500 font-semibold" href="{% url 'login' %}">Login</a>
                     {% endif %}
                     <a class="py-4 px-2 text-gray-500 font-semibold" href="">Link 1</a>
                    
                    </div>
     
                 </div>
            </div>
        </nav>
        {% block body %}
        {% endblock %}
    </body>
</html>